/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


/* ----------------------
    common style
----------------------*/
body {
    margin: 0;
}

nav,
header,
main {
    font-family: 'Poppins', sans-serif;
    max-width: 1240px;
    margin: 0 auto;
}

header,
section {
    margin-bottom: 13%;
}

.container {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 550px;
    height: 400px;
}

.left-margin {
    margin-left: 5%;
}

.section-title {
    font-weight: 600;
    font-size: 40px;
}

h1 {
    font-weight: 700;
}

p {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 500;
}

.link-button-style {
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    position: relative;
    top: 20px;
}

.fa-arrow-right {
    margin-left: 10px;
}



/* ----------------------
    menu bar style
----------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 100px 0;
}

.menu-list ul {
    display: flex;
    column-gap: 30px;
}

.menu-list ul li {
    list-style: none;
}

.menu-list ul li a {
    text-decoration: none;
    color: black;
}

.menu-list a:hover {
    color: blue;
}


/* ----------------------
    top header style
----------------------*/
.top-header-title {
    font-size: 50px;
}

.round-border {
    border-radius: 41px;
}


/* ----------------------
    brand logo style
----------------------*/
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


/* ----------------------
    products style
----------------------*/
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.center-title {
    text-align: center;
    margin-bottom: 3%;
}

.product {
    padding: 15px;
    box-shadow: 2px 2px 50px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: 256px;
}

.product-name {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 6px;
}

.product-price {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.ratings {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-star.filled,
.fa-star-half-stroke {
    width: 16px;
    height: 16px;
    color: #FB8200;
}

.product span,
.product p {
    margin-bottom: 0;
    margin-top: 0;
}

span {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    margin-left: 5px;
}

.see-more-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: #E02C6D;
    margin-top: 2%;
    padding: 10px;
}


/* ----------------------
    footer style
----------------------*/
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #0A0826;
    padding: 30px 0;
    color: white;
}

.footer-title {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}

footer p {
    color: white;
    font-family: cursive;
    margin-top: 0;
    margin-bottom: 0;
}

.social-icons {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(24, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------------
    media queries
----------------------*/
/* mobile device */
@media only screen and (max-width:992px) {

    /* common style */
    nav,
    header,
    main {
        width: 100%;
    }

    .container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .half-width {
        width: 100%;
        text-align: center;
        margin-bottom: 70px;
    }

    .half-width img {
        width: 100%;
    }

    .left-margin {
        margin-left: 0;
    }

    /* manu bar style */
    nav {
        flex-direction: column;
        align-items: center;
    }

    .menu-list ul {
        flex-wrap: wrap;
        column-gap: 30px;
        justify-content: center;
    }


    /* brand logos style */
    .logos {
        flex-wrap: wrap;
        gap: 30px;
    }

    /* products style */
    .products {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }
}